body.productindex {
    color:rgb(129, 85, 173);
    background-image: url('background.jpg') ;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.productindex h1{
    color:rgb(19, 16, 16);
    text-shadow:rgb(184, 138, 230) 3px 3px ;
    text-align: center;

    font-family:"Times New Roman", Times, serif;
    font-style: italic;
}
.productindex .allproduct{
    border: dashed dodgerblue;
    max-width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, min(290px));
    font-size:15px;
    padding-left: 220px;
}
.productindex .eachproduct{
    border :solid black;
    height:430px;
    width :235px;   
}
.productindex .edit{
    color:rgb(79, 7, 173);
}
.productindex .image{
    width:230px;
    height:300px;
}
.productindex .name{
    color:rgb(19, 16, 16);
    text-shadow:rgb(184, 138, 230) 1px 1px ;
    font-size: 20px;
    padding-top:5px;
}
.productindex .price{
    color:rgb(19, 16, 16);
    text-shadow:rgb(184, 138, 230) 1px 1px ;
    float:right;
    font-size: 18px;
    padding-top:6px;
}
.productindex .color ,.size{
    padding-top:7px;
}


body.productshow {
    color:rgb(129, 85, 173);
    line-height: 25px;
    background-image: url('5.webp') ;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.productshow .normal:after{  /* giu footer luon o duoi day */
    content: "";
    display: table;
    clear: both;
}
.flex {/* phai co de padding-left :15% = 15% cua trang ,khong phai 15% cua homepage1*/
    text-align:center; /* de hinh luon o giua ,khong bi nhay */
    padding-left: 10%;
    padding-right: 10%;
    }
.productshow .carousel-indicators {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    padding-top:20px;
    margin-left:10px;
}
.productshow .image-indicators{
    width:210%;
    height:80px;
}
.productshow .image-indicators:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px solid black;
}
.productshow .image{
    margin-top:15px;
    margin-bottom:30px;
    padding-bottom:10px;
    width:600px;
    height:750px;
    max-width:100%;
}
.productshow .carousel-control-prev{
    width:150px;
  }
.product .carousel-control-next{
    width:150px;
  }
.productshow .name{
    margin-top:5px;
    margin-bottom:5px;
    color:rgb(19, 16, 16);
    text-shadow:rgb(184, 138, 230) 3px 2px ;
}
.productshow .show1{
    width:50%;
    float:left;
    padding-bottom: 50px;;
    padding-left:100px;;
}
.productshow .show2{
    padding-top:5%;
    width:50%;
    float:left;
    line-height:30px;
}


body.productform{
    background-image: url('background.jpg') ;
    background-size: cover;
    color:rgb(87, 27, 148);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.productform #form{
    padding-left:5%;
    line-height: 20px;
    padding-top :15px;
    padding-bottom: 15px;
}
.productform #form:after{  /* giu footer luon o duoi day */
    content: "";
    display: table;
    clear: both;
}
.productform h1{
    color:cyan;
}
.productform .image{
    min-height:50px;
    width:100px;
}
.productform .form1{
    padding-top:20px;
    width :50%;
    float:left;
    padding-bottom:30px;
}
.productform .form2{
    padding-top:20px;
    width :50%;
    float:left;
    padding-bottom:30px;
}
.productform .input1{
    height:100px;
    width:400px;
}
.productform .input2{
    height:15px;
}
.productform .input3{
    width:400px;
}


.edit{
    width :100%;
    float:left;
}