
<div id="form">
<h1>Editing product</h1>

<%= render "form", product: @product %>



<div class="edit">
  <%= link_to "Show", @product ,class:"btn btn-info  me-3 "%> |
  <%= link_to "Back", products_path ,class:"btn btn-info  ms-3 "%> 
  <br>
  <%= button_to 'Destroy', @product, data: { confirm: 'Are you sure?' }, :method => :delete ,class:"btn btn-danger mt-3 me-3"%>
</div>
</div>
